Source: python-xmlsec
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper-compat (= 12), dh-python,
 libxml2, libxml2-dev, xmlsec1,
 libxmlsec1, libxmlsec1-dev,
 python3-all, python3-all-dev,
 python3-hypothesis,
 python3-lxml,
 python3-pkgconfig,
 python3-pytest,
 python3-setuptools,
 python3-setuptools-scm
Standards-Version: 4.3.0
Homepage: https://github.com/mehcode/python-xmlsec
Rules-Requires-Root: no

Package: python3-xmlsec
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: Python bindings for the XML Security Library (Python 3)
 This package installs the library for Python 3.
